<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net451" />
  <package id="CSharp.Basics" version="6.3.0.3" targetFramework="net451" />
  <package id="CSharp.Basics.SevenZip" version="6.3.0.3" targetFramework="net451" />
  <package id="Noemax.Compression" version="15.192.0" targetFramework="net451" />
  <package id="nunrar" version="1.0.1" targetFramework="net451" />
  <package id="sharpcompress" version="0.11.1" targetFramework="net451" />
</packages>